In [45]:
# Import Dependencies
import pandas as pd
import os

In [46]:
# Path and filename for the file to Load
books_path = os.path.join('Resources','books_clean.csv' )
books_df = pd.read_csv(books_path, encoding ='utf-8')


#Read the modified GoodReads csv and store into Pandas DataFrame
books_df.head()

,ISBN,Publication Year,Original Title,Authors,One Star Reviews,Two Star Reviews,Three Star Reviews,Four Star Reviews,Five Star Reviews
0,439023483,2008.0,The Hunger Games,Suzanne Collins,66715,127936,560092,1481305,2706317
1,439554934,1997.0,Harry Potter and the Philosopher's Stone,"J.K. Rowling, Mary GrandPré",75504,101676,455024,1156318,3011543
2,316015849,2005.0,Twilight,Stephenie Meyer,456191,436802,793319,875073,1355439
3,61120081,1960.0,To Kill a Mockingbird,Harper Lee,60427,117415,446835,1001952,1714267
4,743273567,1925.0,The Great Gatsby,F. Scott Fitzgerald,86236,197621,606158,936012,947718

In [49]:
# Calculate the number of unique authors in the DataFrame
un_authors =len(books_df['Authors'].unique())

# Calculate the earliest/latest year a book was published
earliest_year = books_df["Publication Year"].min()
latest_year = books_df["Publication Year"].max()

In [15]:
# Create a `total_reviews` variable that sums up the values from your new `Total Reviews` column in the DataFrame

KeyError: 'Total Reviews'

In [16]:
# Place all of the data found into a summary DataFrame
End_df = pd.DataFrame({'Unique Authors': [un_authors], 'Ealiest Year': [earliest], 'Latest Year': [latest], 'Total Reviews': [total_reviews]})

# Show the DataFrame
End_df

NameError: name 'earliest' is not defined